BackEnd/EMO_Cloud/EMO_Cloud/bin/*
BackEnd/EMO_Cloud/EMO_Cloud/obj/*
BackEnd/EMO_Cloud/.vs/*
V2/HHUcloud/.vs/*
V2/HHUcloud/bin/*
V2/HHUcloud/obj/*
V2/HHUcloud/Data.db
V2/HHUcloud/Data.db-shm
V2/HHUcloud/Data.db-wal